.container {
    display: grid;
    max-width: 100%;
    height: 100vh;
    background-color: #80808080;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "hd hd"
        "m a"
        "m a"
        "ft ft";
    text-align: center;
    font-size: 1em;

}

.header {
    grid-area: hd;
    margin: auto;
}

.main {
    grid-area: m;
    display: grid;
    background-color: rgb(250, 241, 116);
}

.aside {
    grid-area: a;
    background-color: rgba(85, 240, 85, 0.507);
    padding: 20px;
}

.footer {
    grid-column: 1/5;
    background-color: #80808080;
}

.mainname {
    padding-top: 20px;
}

.mainmore {
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.more1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(255, 195, 83);

}

.more2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(255, 195, 83);

}

.more3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: rgb(255, 195, 83);

}

.section {
    margin: 2vw;
    padding: 2vw;
    background-color: white;


}

.allsections {
    display: grid;
    align-self: end;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
}